@import "tailwindcss";

.kcHeaderClass {
  @apply flex justify-center;
}
.kcFormCardClass {
  @apply mx-auto max-[500px]:w-full md:w-5/12 lg:w-1/4;
}

.kcFormOptionsWrapperClass {
  @apply flex justify-end text-blue-600;
}
.kcLoginClass {
  @apply flex flex-col gap-5 pt-10 px-5 pb-20;
}

form {
  @apply flex flex-col gap-4;
}

html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: #f0f3f8;
}
